.access-form-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.access-form-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid hsla(0, 0%, 100%, .03);
    box-shadow: 11px 4px 24px rgba(0, 0, 0, .25);
    background-color: rgba(52, 56, 68, .29);
    transition: all .2s;
}

#access-form-email {
    flex-grow: 1;
    background: none;
    border: none;
    border-radius: 0;
    caret-color: #fff;
    transition: all .3s;
    color: #fff;
    padding-left: 1em;
    height: 48px;
}

input {
    color: #fff;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 1px 2px;
}

button {

    transition: all .1s;
    top: .05s ease-out;
}

.btn1 {
    font-family: 'Roboto', sans-serif;
    background: #f8f9fa;
    display: inline-block;
    padding: .5em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    color: #222869;
    text-decoration: none;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .375rem .75rem;
    position: relative;
    top: 0px;
    left: 0px;
}

.btn1:hover {
    background: #222869;
    color: white;

}